#rotate, #skew, #all, #animate, #css, #js{
  border: 2px solid #000;
  width: 200px;
  height: 200px;
  display: block;
  margin: 10px;
}

h3{
  border-bottom: 1px solid #000;
  text-align: center;
}

#but{
	margin-left: 10px;
}
